#error-page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#error-page-container img {
    height: 750px;
    width: 750px;
}

@media(max-width: 1550px){
	#error-page-container img {
        margin-top: 50px;
		width: 500px;
        height: 500px;
	}
}

@media(max-width: 850px){
	#error-page-container img {
        margin-top: 50px;
		width: 450px;
        height: 450px;
	}
}

@media(max-width: 550px){
	#error-page-container img {
		width: 340px;
        height: 340px;
	}
}