#help-and-info-container {
	align-items: center;
	position: relative;
	top: 6vh;
}

#help-and-info-container, #HAI-title-direct-container{
	display: flex;
	justify-content: center;
}

#HAI-container-centrelizer {
    width: 70%;
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(90, 90, 90);
	overflow-y: auto;
	max-height: 80vh;
}
div[theme='bright'] #HAI-container-centrelizer {
	background-color: white;
	border: 1px solid rgb(220, 220, 220);
}

#HAI-title-direct-container {
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid rgb(90, 90, 90);
}
div[theme='bright'] #HAI-title-direct-container {
	border-bottom: 1px solid rgb(220, 220, 220);
}

#HAI-title-direct-container h1{
	font-size: 1.1em;
	letter-spacing: 0.035em;
	line-height: 22px;
	text-transform: capitalize;
	font-weight: normal;
	border-left: none; border-right: none;
	padding: 1em 0px 1em 0px;
	background-color: rgb(30, 30, 30);
	color: rgb(225, 225, 225);
}
div[theme='bright'] #HAI-title-direct-container h1 {
	background-color: white;
	color: rgb(60, 60, 60);
}

#HAI-contact-email-container {
    color: white;
	padding-bottom: 15px;
}
div[theme='bright'] #HAI-contact-email-container {
	color: rgb(30, 30, 30);
}

#HAI-title {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}

#HAI-contact-email-container p {
    padding: 20px;
    color: rgb(210, 210, 210);
    text-align: center;
    letter-spacing: 0.3px;
}
div[theme='bright'] #HAI-contact-email-container p {
	color: rgb(90, 90, 90);
}

#HAI-contact-email-direct-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#HAI-contact-email {
    font-size: 16px;
    font-weight: bold;
    color: rgb(45, 176, 175) !important;
    text-decoration: underline;
    cursor: pointer;
	padding: 15px 0px 15px 0px;
}

@media(max-width: 1300px){
	#HAI-container-centrelizer {
        width: 92%;
    }
}

@media(max-width: 750px){
	#HAI-contact-email-container p {
		font-size: 16px;
	}

	#HAI-contact-email-container p {
		font-size: 14.5px;
	}
}