#login-container {
    width: 100%;
    height: 94.3vh;
}

#LOG-centralizer {
	align-items: center;
	position: relative;
	top: 6vh;
}

#LOG-form-container {
    width: 500px;
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(90, 90, 90);
	overflow-y: auto;
	height: 500px;
    transition-duration:0.32s;
}
div[theme='bright'] #LOG-form-container {
	background-color: white;
	border: 1px solid rgb(190, 190, 190);
}
#LOG-form-container[login-status*='logged-in'] {
    transition-duration: 1s !important;
    opacity: 0;
    visibility: hidden;
}

#LOG-title-direct-container {
    padding-top: 50px;
    text-align: center;
    color: white;
}
div[theme='bright'] #LOG-title-direct-container {
	color: rgb(110, 110, 110);
}

#LOG-title-direct-container > p {
    font-size: 20px;
    letter-spacing: 0.45px;
    font-weight: bold;
}

#LOG-inputs-container {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#LOG-centralizer, #LOG-inputs-container, #LOG-submit-button-direct-container, #LOG-forgot-password-button-direct-container, #LOG-loading-gif-direct-container[status='on'] {
    display: flex;
    justify-content: center;
}

.LOG-inputs-direct-container {
    padding-bottom: 20px;
}

.LOG-inputs-direct-container input{
    padding: 11px 11px 11px 0px;
	font-size: 14.5px;
	width: 295px;
	color: white;
	background-color: rgb(30, 30, 30);
	font-family: 'Quicksand', sans-serif;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.59);
	letter-spacing: 0.025em;
	transition-duration: 0.4s;
}
div[theme='bright'] .LOG-inputs-direct-container input {
	color: rgb(30, 30, 30);
    background-color: white;
    border-bottom: 1px solid rgba(90, 90, 90, 0.29);
}

.LOG-inputs-direct-container input:focus{
	border-bottom: 1px solid rgba(255, 255, 255, 0.76);
}
div[theme='bright'] .LOG-inputs-direct-container input:focus{
	border-bottom: 1px solid rgba(90, 90, 90, 0.69);
}

#LOG-submit-button-direct-container {
    padding-top: 10px;
}

#LOG-submit-button-direct-container button {
    padding: 12px;
    border: none;
    width: 306px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.35px;
    background-color: rgb(71, 185, 198);
    color: white;
}

#LOG-forgot-password-button-direct-container{
    padding-top: 30px;
}

#LOG-forgot-password-button-direct-container button {
    font-size: 14px;
    cursor: pointer;
    color: rgb(172, 233, 223);
    background: none;
    border: none;
}
div[theme='bright'] #LOG-forgot-password-button-direct-container button {
    color: rgb(42, 127, 170);
}

#LOG-forgot-password-button-direct-container button:hover {
    text-decoration: underline;
}

#LOG-loading-gif-direct-container {
    padding-top: 10px;
}

#LOG-loading-gif-direct-container[status='off'] {
    display: none;
}

#LOG-loading-gif-direct-container img { 
    width: 70px;
    height: 70px;
}

#LOG-error-display-direct-container[status='on'] {
    visibility: visible;
    opacity: 1;
}
#LOG-error-display-direct-container[status='off'] {
    visibility: hidden;
    opacity: 0;
}

#LOG-error-display-direct-container {
    padding-top: 20px;
    transition-duration: 0.32s;
}

#LOG-error-display-direct-container p {
    text-align: center;
    color: red;
    font-size: 13px;
}

#LOG-new-account-request-button-direct-container {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid rgb(90, 90, 90);
    width: calc(500px - 40px);
    padding: 20px;
    text-align: center;
}

#LOG-new-account-request-button-direct-container button {
    font-size: 14.5px;
    background: none;
    border: none;
    color:white;
}

#LOG-new-account-request-button-direct-container span {
    cursor: pointer;
    color: rgb(172, 233, 223);
}
#LOG-new-account-request-button-direct-container span:hover {
    text-decoration: underline;
}

div[theme='bright'] #LOG-new-account-request-button-direct-container {
    border-top: 1px solid rgb(190, 190, 190);
}
div[theme='bright'] #LOG-new-account-request-button-direct-container button{
    color: rgb(110, 110, 110) !important;
}
div[theme='bright'] #LOG-new-account-request-button-direct-container span {
    color: rgb(42, 127, 170);
}