#unauthorized-container {
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#unauthorized-container img {
    height: 600px;
    width: 600px;
}

@media(max-width: 750px){
	#unauthorized-container img {
		width: 500px;
        height: 500px;
	}
}

@media(max-width: 550px){
	#unauthorized-container img {
		width: 350px;
        height: 350px;
	}
}