/* Base Styles Refresh & Clean */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	text-decoration: none;
	color: white;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type='radio'] {
	margin: 0;
}
/* Base Styles Refresh & Clean */

* {
	font-family: 'Quicksand', sans-serif;
}

#all-content-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#home-content-title{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	text-align: center;
	color: black;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	line-height: 30px;
	padding: 3em 0px 2em 0px;
}
div[theme='bright'] #home-content-title {
	color: white;
}

.App {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}

#top-header-and-main-content-container-direct-container {
	background-color: rgb(55, 55, 55);
	width: calc(100vw - 318px);
	margin-left: 318px;
}
div[theme='bright'] #top-header-and-main-content-container-direct-container {
	background-color: rgb(240, 240, 240);
}

#top-header-space-auxiliary {
	height: 48px;
}

#universal-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.55);
}

#loading-screen {
	background-image: linear-gradient(to right, #0F2027 , #203A43, #2C5364);
	position: fixed;
	width: calc(100vw - 318px);
	margin-left: 318px;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	z-index: 99;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}
#loading-screen[status='on'] {
	visibility: visible;
	opacity: 0.90;
}

#loading-screen img {
	width: 110px;
	height: 110px;
}

#universal-overlay[status*='on'] {
	display: block;
}

.calendar-closed {
	display: none;
}

/* Overflows Design */
::-webkit-scrollbar {
	width: 9px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 30px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 30px;
}
  
/* Handle On Hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.rectangle-span-selected_pieces {
	color: white;
}

/* Selected Options Block (Can Be Found In Ticket View & Create Ticket)*/
.rectangle-span-selected_pieces span {
	margin-right: 4px;
	font-size: 13px;
	padding: 2px 4px 2px 4px;
	border: 1px solid rgb(90,90,90);
	cursor: pointer;
	-webkit-transition-duration: 0.25s;
	     -o-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}

div[theme='bright'] .rectangle-span-selected_pieces span {
	color: rgb(35, 35, 35);
	border: 1px solid rgb(200,200,200);
}

.rectangle-span-selected_pieces span:hover {
	background-color: rgba(187, 49, 49, 0.8);
	border: 1px solid rgb(187, 49, 49, 0.8);
}

div[theme='bright'] .rectangle-span-selected_pieces span:hover {
	background-color: rgba(187, 49, 49, 0.95);
	border: 1px solid rgb(187, 49, 49, 0.95);
	color: white !important;
}

#left-header-mob-opener {
	display: none;
	border: none;
	background: none;
	margin: 6px 0px 6px 0px;
	cursor: pointer;
	bottom: 0px;
	right: 2px;
	z-index: 3;
}

#left-header-mob-opener img {
	width: 40px;
	height: 40px;
}

@media(max-width: 1400px){
	#top-header-and-main-content-container-direct-container, #loading-screen {
		width: calc(100vw - 288px);
		margin-left: 288px;
	}
}

@media(max-width: 1000px){
	#top-header-and-main-content-container-direct-container {
		margin-left: 0px;
		width: 100vw;
	}

	#top-header-and-main-content-container-direct-container, #loading-screen {
		margin-left: 0px;
		width: 100vw;
	}

	#left-header-mob-opener {
		display: inline-block;
		position: fixed;
	}
}

/* Headers Styles */
@import "./styles/header/left_header/mini_ticket_band.css";
@import "./styles/header/left_header/left_header.css";
@import "./styles/header/left_header/filter_checkbox.css";
@import "./styles/header/top_header.css";

/* Ticket Band & Action Modal Styles */
@import "./styles/ticket/ticket_band.css";
@import "./styles/ticket/ticket_action_modal.css";

/* Simple Generic Page Styles */
@import "./styles/pages/login.css";
@import "./styles/pages/not_authorized.css";
@import "./styles/pages/help_and_info.css";
@import "./styles/pages/error_page.css";
@import "./styles/pages/home.css";

/* Profile Page Styles */
@import "./styles/pages/profile/profile.css";
@import "./styles/pages/profile/preferences.css";
@import "./styles/pages/profile/user_info.css";

/* Create Ticket Page Styles */
@import "./styles/pages/create_ticket/create_ticket.css";
@import "./styles/pages/create_ticket/selection_piece.css";

/* Ticket View Page Styles */
@import "./styles/pages/ticket_view/manage_ticket_buttons.css";
@import "./styles/pages/ticket_view/message.css";
@import "./styles/pages/ticket_view/ticket_view.css";
@import "./styles/pages/ticket_view/ticket_overview_information.css";
@import "./styles/pages/ticket_view/place_message.css";

/* Independent Pieces Styles */
@import "./styles/independent_pieces/attachment_block.css";