#TV-messages-direct-container {
    border: 1px solid rgb(90, 90, 90);
	background-color: rgb(30, 30, 30);
    max-height: 352px;
    margin-bottom: 12px;
    overflow-y: auto;
}
div[theme='bright'] #TV-messages-direct-container {
    background-color: white;
    border: none;
}

.TV-message-container {
    background-color: rgb(30, 30, 30);
    padding: 10px 10px 13px 10px;
    -webkit-transition-duration: 0.32s;
	     -o-transition-duration: 0.32s;
	        transition-duration: 0.32s;
}
div[theme='bright'] .TV-message-container {
    background-color: white;
}
div[class='TV-message-container'][type='2'] {
    background-color: rgb(40, 40, 40) !important;
}
div[theme='bright'] div[class='TV-message-container'][type='2'] {
    background: -webkit-gradient(linear, right top, left top, from(#cfdcff), to(#DFEFF4));
    background: -o-linear-gradient(right, #cfdcff, #DFEFF4);
    background: linear-gradient(to left, #cfdcff, #DFEFF4);
}

.TV-MSG-title-direct-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 12px;
    color: white;
}
div[theme='bright'] .TV-MSG-title-direct-container {
    color: rgb(30, 30, 30);
}

.TV-MSG-owner-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.TV-MSG-owner-name img, .TV-MSG-not-enough-power-error-message, .TV-MSG-not-enough-power-error-message-mob {
    -webkit-transition-duration: 0.26s !important;
	     -o-transition-duration: 0.26s !important;
	        transition-duration: 0.26s !important;
}

.TV-MSG-owner-name img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.TV-MSG-not-enough-power-error-message {
    visibility: hidden;
    opacity: 0;
    color: rgb(199, 47, 53);
}

.TV-MSG-not-enough-power-error-message-mob {
    display: none;
}

.TV-MSG-text {
    font-size: 14px;
    padding: 14px 12px 0px 2px;
    line-height: 120%;
    color: white;
    white-space: pre-line;
}
div[theme='bright'] .TV-MSG-text {
    color: rgb(30, 30, 30);
}

.TV-MSG-delete-icon {
    width: 13px !important;
    height: 13px !important;
    padding-left: 5px;
    cursor: pointer;
}

.TV-MSG-deleting-gif {
    position: relative;
    top: -9px;
}

.TV-MSG-deleting-gif[status='off']{
    display: none;
}

.TV-MSG-deleting-gif[status='on']{
    display: inline-block;
}

@media(max-width: 1620px) {
	.TV-MSG-owner-name img {
        width: 26px;
        height: 26px;
    }

    .TV-MSG-delete-icon {
        width: 11px !important;
        height: 11px !important;
    }

    .TV-MSG-title-direct-container {
        font-size: 11.5px;
    }

    .TV-MSG-text {
        font-size: 12px;
    }

    .TV-MSG-not-enough-power-error-message-mob {
        font-size: 11px;
    }
}

@media(max-width: 600px) {
    .TV-MSG-owner-name {
        line-height: 16px;
    }

    .TV-MSG-date {
        font-size: 11px;
    }
}

@media(max-width: 500px) {
    .TV-MSG-not-enough-power-error-message {
        display: none;
    }
    
    .TV-MSG-not-enough-power-error-message-mob {
        padding-top: 7px;
        display: block;
        color: rgb(199, 47, 53);
    }
}