#TV-messages-direct-container {
    border: 1px solid rgb(90, 90, 90);
	background-color: rgb(30, 30, 30);
    max-height: 352px;
    margin-bottom: 12px;
    overflow-y: auto;
}
div[theme='bright'] #TV-messages-direct-container {
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
}

.TV-message-container {
    padding: 10px 10px 13px 10px;
}

div[class='TV-message-container'][type='2'] {
    background-color: rgb(40, 40, 40) !important;
}
div[theme='bright'] div[class='TV-message-container'][type='2'] {
    background-color: rgb(245, 245, 245) !important;
}

.TV-MSG-title-direct-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 12px;
    color: white;
}
div[theme='bright'] .TV-MSG-title-direct-container {
    color: rgb(30, 30, 30);
}

.TV-MSG-owner-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.TV-MSG-owner-name img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.TV-MSG-not-enough-power-error-message {
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    color: rgb(199, 47, 53);
}

.TV-MSG-text {
    font-size: 14px;
    padding: 14px 12px 0px 2px;
    line-height: 120%;
    color: white;
}
div[theme='bright'] .TV-MSG-text {
    color: rgb(30, 30, 30);
}

.TV-MSG-delete-icon {
    width: 13px !important;
    height: 13px !important;
    padding-left: 5px;
    cursor: pointer;
}

.TV-MSG-deleting-gif[status='off']{
    display: none;
}

.TV-MSG-deleting-gif[status='on']{
    display: inline-block;
}

@media(max-width: 720px) {
	.TV-MSG-text {
        font-size: 13px;
    }
}

@media(max-width: 600px) {
	.TV-MSG-title-direct-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .TV-MSG-date {
        padding: 12px 0px 4px 0px;
    }

    .TV-MSG-owner-name {
        line-height: 16px;
    }

    .TV-MSG-date {
        font-size: 11px;
    }
}