#TV-place-message-and-ticket-management-options-container{
	padding-left: 0.75em;
	width: calc(50% - 1em);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#TV-place-message-container{
	border: 1px solid rgb(90, 90, 90);
	background-color: rgb(30, 30, 30);
}
div[theme='bright'] #TV-place-message-container {
	border: 1px solid rgb(225, 225, 225);
	background-color: white;
}

#TV-PM-title-direct-container{
	padding: 1em 12px 0.3em 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#TV-PM-title-direct-container p{
	letter-spacing: 0.6px;
	font-size: 1em;
	color: white;
}
div[theme='bright'] #TV-PM-title-direct-container p {
	color: rgb(30, 30, 30);
}

#TV-PM-title-direct-container img{
	display: none;
	width: 40px;
	height: 40px;
}
#TV-PM-textarea-direct-container{
	display: flex;
	justify-content: center;
}
#TV-PM-message-textarea{
	margin-top: 12px;
	margin-bottom: 10px;
	width: 95%;
	resize: none;
	font-family: 'Questrial', sans-serif;
	font-size: 1em;
	height: 110px;
	letter-spacing: 0.4px;
	overflow: auto;
	color: white;
	font-size: 15px;

	transition-duration: 0.5s;
}
div[theme='bright'] #TV-PM-message-textarea {
	color: rgb(30, 30, 30);
}

#TV-PM-message-textarea:focus img{
	width: 0px;
} 
#TV-PM-message-textarea img{
	transition-duration: 0.3s;
	width: 10px;
	height: 12px;
}
#TV-PM-submit-button-direct-container{
	display: flex;
	justify-content: flex-end;
	padding-right: 2.5%;
	margin-bottom: 12px;
	align-items: center;
}
#TV-PM-submit-button-direct-container button{
	font-size: 13px;
	padding: 7px;
	border: 1px solid rgb(90, 90, 90);
	color: rgb(230, 230, 230);
	background-color: rgb(30, 30, 30);
	transition-duration: 0.3s;
	cursor: pointer;
	border-radius: 3px;
}
div[theme='bright'] #TV-PM-submit-button-direct-container button {
	border: 1px solid rgb(225, 225, 225);
	background-color: white;
	color: rgb(75,75,75);
}

#TV-PM-submit-button-direct-container img{
	width: 24px;
	height: 24px;
	padding-right: 1%;
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.32s;
}
img[status='on'] {
	visibility: visible !important;
	opacity: 1 !important;
}

#TV-PM-submit-button-direct-container button:hover{
	background-color: rgb(20, 20, 20);
	color: white;
	transition-duration: 0.3s;
}
div[theme='bright'] #TV-PM-submit-button-direct-container button:hover {
	background-color: rgb(60, 60, 60) !important;
	color: white !important;
}

@media(max-height: 790px) {
	#TV-PM-title-direct-container{
		padding-top: 0.5em;
	}
}

@media(max-width: 1700px){
	#TV-PM-message-textarea{
		min-height: 190px;
	}
}