#TV-place-message-container{
	border: 1px solid rgb(90, 90, 90);
	background-color: rgb(30, 30, 30);
	font-family: 'Questrial', sans-serif;
	-webkit-transition-duration: 0.38s;
	     -o-transition-duration: 0.38s;
	        transition-duration: 0.38s;
}
div[theme='bright'] #TV-place-message-container {
	border: none;
	background-color: white;
}

#TV-PM-title-direct-container{
	padding: 1em 12px 0.3em 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
#TV-PM-title-direct-container p{
	padding-top: 6px;
	letter-spacing: 0.6px;
	font-size: 1em;
	color: white;
}
div[theme='bright'] #TV-PM-title-direct-container p {
	color: rgb(30, 30, 30);
}

#TV-PM-textarea-direct-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#TV-PM-message-textarea{
	margin: 12px 0px 10px 0px;
	width: 95%;
	resize: none;
	font-size: 1em;
	height: 110px;
	letter-spacing: 0.4px;
	overflow: auto;
	color: white;
	font-size: 15px;
	-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}
div[theme='bright'] #TV-PM-message-textarea {
	color: rgb(30, 30, 30);
}

#TV-PM-message-textarea:focus img{
	width: 0px;
} 

#TV-PM-message-textarea img{
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	width: 10px;
	height: 12px;
}

#TV-PM-submit-button-direct-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-right: 2.5%;
	padding-bottom: 12px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#TV-PM-submit-button-direct-container button{
	font-size: 13px;
	padding: 7px;
	border: 1px solid rgb(90, 90, 90);
	color: rgb(230, 230, 230);
	background-color: rgb(30, 30, 30);
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	cursor: pointer;
	border-radius: 3px;
}
div[theme='bright'] #TV-PM-submit-button-direct-container button {
	border: 1px solid rgb(225, 225, 225);
	background-color: white;
	color: rgb(75,75,75);
}

#TV-PM-submit-button-direct-container img{
	width: 24px;
	height: 24px;
	padding-right: 1%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition-duration: 0.32s;
	     -o-transition-duration: 0.32s;
	        transition-duration: 0.32s;
}

#TV-PM-submit-button-direct-container button:hover{
	background-color: rgb(20, 20, 20);
	color: white;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}
div[theme='bright'] #TV-PM-submit-button-direct-container button:hover {
	background-color: rgb(60, 60, 60) !important;
	color: white !important;
}

@media(max-width: 1550px) {
	#TV-PM-title-direct-container p {
		font-size: 14.5px;
		padding-top: 0px;
	}

	#TV-PM-message-textarea {
		font-size: 13px;
		height: 95px;
	}
}