#ticket-view-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 1.2em 1.5em 1.5em 1.5em;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}

.TV-title-icon {
	width: 21px;
	height: 21px;
	margin-left: 10px;
}

#TV-title-direct-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: rgb(75,75,75);
	padding: 12px;
	border: 1px solid rgb(202,202,202);
	border-right: 0px;
	border-left: 0px;
	color: white;
}
div[theme='bright'] #TV-title-direct-container{
	color: rgb(30, 30, 30);
	border: 1px solid rgb(200,200,200);
	border-right: 0px; border-left: 0px;
	background-color: rgb(232,232,232);
}

#TV-title-and-info-containercontainer {
	padding: 1em;
}

#TV-aggregatives-legitimacy-error-direct-container {
	visibility: hidden;
	opacity: 0;
	-webkit-transition-duration: 0.28s;
	     -o-transition-duration: 0.28s;
	        transition-duration: 0.28s;
}

#TV-aggregatives-legitimacy-error-direct-container p {
	font-size: 12px;
	text-align: center;
	color: rgb(199, 47, 53);
}

.TV-line-breaker-centrelizer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.TV-line-breaker p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px;
	border-bottom: 1px solid rgb(202,202,202);
	font-size: 14px;
	letter-spacing: 0.2px;
	width: 60%;
	color: rgb(80, 80, 80);
}
div[theme='bright'] .TV-line-breaker p{
	border-bottom: 1px solid rgb(200,200,200);
}

#TV-description-container{
	padding: 28px 1em 16px 1em;
}

#TV-description-container #TV-description-title-direct-container h3{
	color: rgb(230, 230, 230);
	font-size: 14px;
	text-align: center;
	text-decoration: underline;
}
div[theme='bright'] #TV-description-container #TV-description-title-direct-container h3 {
	color: rgb(50, 50, 50);
}

#TV-description-direct-container {
	font-size: 13.5px;
	padding: 20px 17px 17px 13px;
	line-height: 21px;
	color: white;
}
div[theme='bright'] #TV-description-direct-container {
	color: rgb(30, 30, 30);
}

#TV-description-attachments-and-info-container{
	width: calc(50% - 1em);
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(90, 90, 90);
	height: 86vh;
	overflow-y: auto;
}
div[theme='bright'] #TV-description-attachments-and-info-container {
	background-color: white;
	border: 1px solid rgb(225, 225, 225);
}

#TV-title-and-info-container{
	padding: 1em 1em 1em 1em;
}

#TV-title-and-info-container h2{
	letter-spacing: 0.6px;
	font-size: 17px;
	font-weight: normal;
}

.TV-attachments-container {
	padding: 24px 1em 1em 1em;
	font-size: 14px;
}
.TV-attachment-title-direct-container{
	color: rgb(230, 230, 230);
	font-size: 14px;
	text-align: center;
	text-decoration: underline;
}
div[theme='bright'] .TV-attachment-title-direct-container {
	color: rgb(40, 40, 40);
}

#TV-attachment-blocks-direct-container{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 20px;
}

#TV-place-message-and-ticket-management-options-container{
	padding-left: 0.75em;
	width: calc(50% - 1em);
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#TV-place-message-and-ticket-management-options-container, #TV-attachment-blocks-direct-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

@media(max-width: 1500px) {
	#ticket-view-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	#TV-description-attachments-and-info-container, #TV-place-message-and-ticket-management-options-container {
		width: 100%;
	}

	#TV-place-message-and-ticket-management-options-container {
		margin-top: 20px;
		padding-left:0px ;
	}
}

@media(max-width: 600px) {
	#ticket-view-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin: 1.2em 0.8em 1.5em 0.8em;
	}
}