#tv-ticket-info {
	padding-top: 20px;
	letter-spacing: 0.3px;
	display: flex;
	flex-direction: column;
	font-size: 13px;
}

#tv-ticket-info p {
	padding-bottom: 8px;
	color: rgb(210, 210, 210);
	line-height: 16px;
}
div[theme='bright'] #tv-ticket-info p {
	color: rgb(95, 95, 95);
}

#tv-ticket-info p span {
	color: rgb(230, 230, 230);
	font-weight: bold;
}
div[theme='bright'] #tv-ticket-info p span {
	color: rgb(60, 60, 60);
}

.nested-info {
	display: flex;
	justify-content: space-between;
}

.larger-info-piece {
	width: 55%;
}
p[class='larger-info-piece rectangle-span-selected_pieces'] span {
	margin-right: 6px;
}
#ticket-assumer-pure-text {
	margin-right: 4px;
}
.smaller-info-piece {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

#assignments-management {
	border: 1px solid rgb(200,200,200);
	color: rgb(230, 230, 230);
	padding: 5px;
	background-color: rgb(30, 30, 30);
	margin-top: 3px;
	height: 30px;
}
div[theme='bright'] #assignments-management {
	color: rgb(50, 50, 50);
	background-color: white;
	border: 1px solid rgb(180,180,180);
}

.ticket-view-assigneds-blocks-span {
	line-height: 27px;
}