#TV-ticket-info-container {
	padding-top: 20px;
	letter-spacing: 0.3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 13px;
}

#TV-ticket-info-container p {
	padding-bottom: 8px;
	color: rgb(210, 210, 210);
	line-height: 16px;
}
div[theme='bright'] #TV-ticket-info-container p {
	color: rgb(95, 95, 95);
}

#TV-ticket-info-container p span, #TV-ticket-info-container > div span {
	color: rgb(230, 230, 230);
	font-weight: bold;
}
div[theme='bright'] #TV-ticket-info-container p span, div[theme='bright'] #TV-ticket-info-container > div span,
div[theme='bright'] #TV-INF-groups-text-key, div[theme='bright'] #TV-INF-assumers-text-key {
	color: rgb(60, 60, 60);
}

.TV-INF-line-info-key, .TV-INF-line-info-key-aggregative {
	width: 55%;
}

div[class='TV-INF-line-info-key-aggregative rectangle-span-selected_pieces'] span {
	margin-right: 6px;
}

div[class='TV-INF-line-info-key-aggregative rectangle-span-selected_pieces'] > div {
	display: inline;
}

.TV-INF-line-info-key-aggregative {
	padding: 4px 0px 0px 0px !important;
}

#TV-INF-assumers-text-key, #TV-INF-groups-text-key {
	margin-right: 4px;
	min-width: 30px;
}

.TV-INF-line-info-value, .TV-INF-line-info-value-aggregative {
	width: 40%;
}

.TV-INF-line-info-value, .TV-INF-line-info-value-aggregative, .TV-INF-info-line-direct-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#TV-INF-aggregatives-container {
	padding-top: 7px;
}

.TV-INF-line-info-value-aggregative {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-height: 28px;
	padding-bottom: 4px !important;
}

#TV-INF-groups-rectangles-span-direct-container {
	padding-top: 6px !important;
	line-height: 25px !important;
}

#TV-INF-assigneds-selector, #TV-INF-groups-selector {
	border: 1px solid rgb(200,200,200);
	color: rgb(230, 230, 230);
	padding: 0px 2px 0px 4px;
	background-color: rgb(30, 30, 30);
	height: 22px;
	width: 100px;
}
div[theme='bright'] #TV-INF-assigneds-selector, div[theme='bright'] #TV-INF-groups-selector {
	color: rgb(50, 50, 50);
	background-color: white;
	border: 1px solid rgb(180,180,180);
}

.TV-INF-assigneds-rectangle-span, .TV-INF-assigneds-groups-span {
	line-height: 27px;
}

@media(max-width: 720px) {
	#ticket-view-container {
		margin-top: 3em;
	}
}

@media(max-width: 680px) {
	.TV-INF-info-line-direct-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	#TV-ticket-info-container p, .TV-INF-line-info-key-aggregative  {
		width: 100%;
	}

	.TV-INF-line-info-key, .TV-INF-line-info-value {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.TV-INF-line-info-value-aggregative {
		padding-top: 10px;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.TV-INF-line-info-value-aggregative select {
		margin-left: 6px;
	}

	#TV-INF-aggregatives-container .TV-INF-info-line-direct-container {
		-webkit-box-shadow: 0px 0px 3px 0px rgb(135, 135, 135);
		        box-shadow: 0px 0px 3px 0px rgb(135, 135, 135);
		padding: 8px;
		margin-bottom: 16px;
	}

	#TV-attachment-blocks-direct-container .ATT-input-direct-container {
		position: static;
	}
}