#left-header-container{
	z-index: 2;
	width: 282px;
	padding: 1em 14px 0px 24px;
	min-height: calc(100vh - 1em);
	position: fixed;
	background-color: rgb(25, 30, 31);
	border-right: 1px solid rgb(90, 90, 90);
	font-family: 'Quicksand', sans-serif;
}

#LH-title-direct-container h1{
	color: white;
	font-size: 1.9em;
	text-align: center;
}

#LH-title-direct-container h1 span{
	font-weight: normal;
}

#LH-title-direct-container p{
	padding-top: 1em;
	color: white;
	font-size: 1.1em;
	text-align: center;
}
#LH-search-container{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 2.5em;
}

#LH-search-container input{
	padding: 11px 11px 11px 0px;
	font-size: 14.5px;
	width: 220px;
	color: rgb(120, 120, 120);
	background-color: rgb(25, 30, 31);
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.59);
	letter-spacing: 0.025em;
	transition-duration: 0.7s;
}
#LH-search-container input:focus{
	border-bottom: 1px solid rgba(255, 255, 255, 0.88);
	color: white;
}

#LH-navigation-links-container{
	margin-top: 3.5em;
	height: 65vh;
	padding-right: 12px;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
	overflow-y: auto;
}
#LH-navigation-links-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#LH-navigation-links-container ul li{
	padding: 12px 0px 12px 2em;
	align-items: center;
	transition-duration: 0.3s;
	line-height: 20px;
}

#LH-navigation-links-container ul li a{
	display: flex;
	align-items: center;
	cursor: pointer;
}

#LH-navigation-links-container ul li img{
	width: 26px;
	height: 26px;
}

#LH-navigation-links-container ul li p{
	color: white;
	padding-left: 2em;
	font-size: 14px;
	letter-spacing: 0.5px;

}
#LH-navigation-links-container ul a:hover p{
	text-decoration: underline;

}

.LH-links-grouper-expander-container {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 12px 0px 12px 2em;
}

.LH-links-grouper-expander-direct-container p {
	color: white;
	font-size: 14px;
	padding-left: 2em;
	letter-spacing: 0.5px;
	line-height: 19px;
	max-width: 120px;
}
.LH-links-grouper-expander-direct-container p:hover {
	text-decoration: underline;
}

.LH-links-grouper-expander-container img {
	width: 20px;
	height: 11px;
}

.LH-links-grouper-expander-container > img {
	width: 26px;
	height: 26px;
}

.LH-tickets-grouper-direct-container {
	visibility: hidden;
	height: 0px;
}
div[class='LH-tickets-grouper-direct-container'][status='opened'] {
	visibility: visible !important;
	height: auto !important;
}

div[class='LH-tickets-grouper-direct-container'] li {
	opacity: 0;
}
div[class='LH-tickets-grouper-direct-container'][status='opened'] li {
	opacity: 1;
	transition-duration: 0.6s;
}

.LH-links-grouper-expander-direct-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#LH-search-container img {
	position: absolute;
	padding-top: 16px;
	color: white;
	right: 42px;
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.22s;
}

#LH-search-container input:not(:placeholder-shown) + img {
	visibility: visible;
	opacity: 1;
}

@media(max-width: 1000px){
	#left-header-container {
		display: block;
		margin-top: 100px;
		width: 350px;
		position: fixed;
		z-index: 100;
		box-shadow: 2px 2px 3px -2px black;
		height: 450px;
		min-height: auto;
	}

	#LH-title-direct-container {
		display: none;
	}

	#LH-search-container {
		padding-top: 1em;
	}

	#LH-navigation-links-container {
		margin-top: 2.2em;
		height: 320px;
	}
}