#left-header-container{
	z-index: 2;
	width: 282px;
	padding: 1em 14px 0px 24px;
	min-height: calc(100vh - 1em);
	position: fixed;
	background-color: rgb(25, 30, 31);
	border-right: 1px solid rgb(90, 90, 90);
	font-family: 'Quicksand', sans-serif;
}

#LH-title-direct-container h1{
	color: white;
	font-size: 1.9em;
	text-align: center;
}

#LH-title-direct-container h1 span{
	font-weight: normal;
}

#LH-title-direct-container p{
	padding-top: 1em;
	color: white;
	font-size: 1.1em;
	text-align: center;
}
#LH-search-container{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 2.5em;
}

#LH-search-container input{
	padding: 11px 11px 11px 0px;
	font-size: 14.5px;
	width: 220px;
	color: rgb(120, 120, 120);
	background-color: rgb(25, 30, 31);
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.59);
	letter-spacing: 0.025em;
	-webkit-transition-duration: 0.7s;
	     -o-transition-duration: 0.7s;
	        transition-duration: 0.7s;
}
#LH-search-container input:focus{
	border-bottom: 1px solid rgba(255, 255, 255, 0.88);
	color: white;
}

#LH-search-container img {
	position: absolute;
	padding-top: 16px;
	color: white;
	right: 42px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition-duration: 0.22s;
	     -o-transition-duration: 0.22s;
	        transition-duration: 0.22s;
	width: 13px !important;
    height: 13px !important;
    padding-left: 5px;
    cursor: pointer;
}

#LH-navigation-links-container{
	margin-top: 3.5em;
	height: 65vh;
	padding-right: 12px;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
	overflow-y: auto;
}
#LH-navigation-links-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#LH-navigation-links-container ul li{
	padding: 12px 0px 12px 2em;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	line-height: 20px;
}

#LH-navigation-links-container ul li a,
.LH-links-grouper-expander-container,
.LH-links-grouper-expander-direct-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#LH-navigation-links-container ul li a {
	cursor: pointer;
}

#LH-navigation-links-container ul li img{
	width: 26px;
	height: 26px;
}

#LH-navigation-links-container ul li p{
	color: white;
	padding-left: 2em;
	font-size: 14px;
	letter-spacing: 0.5px;
}
#LH-navigation-links-container ul a:hover p, .LH-links-grouper-expander-direct-container p:hover{
	text-decoration: underline;
}

.LH-links-grouper-expander-container {
	cursor: pointer;
	padding: 12px 0px 12px 2em;
}

.LH-links-grouper-expander-direct-container p {
	color: white;
	font-size: 14px;
	padding-left: 2em;
	letter-spacing: 0.5px;
	line-height: 19px;
}

.LH-links-grouper-expander-container img {
	width: 20px;
	height: 11px;
}

.LH-links-grouper-expander-container > img {
	width: 26px;
	height: 26px;
}

.LH-tickets-grouper-direct-container {
	padding-left: 46px;
	visibility: hidden;
	height: 0px;
}
div[class='LH-tickets-grouper-direct-container'][status='open'] {
	visibility: visible !important;
	height: auto !important;
}

div[class='LH-tickets-grouper-direct-container'] li {
	opacity: 0;
}
div[class='LH-tickets-grouper-direct-container'][status='open'] li {
	opacity: 1;
	-webkit-transition-duration: 0.6s;
	     -o-transition-duration: 0.6s;
	        transition-duration: 0.6s;
}

.LH-links-grouper-expander-direct-container {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
}

#LH-search-container input:not(:-moz-placeholder-shown)+img,
#LH-search-container input:not(:-ms-input-placeholder)+img {
	visibility: visible !important;
	opacity: 1 !important;
}

#LH-search-container input:not(:-moz-placeholder-shown)+img {
	visibility: visible !important;
	opacity: 1 !important;
}

#LH-search-container input:not(:-ms-input-placeholder)+img {
	visibility: visible !important;
	opacity: 1 !important;
}

#LH-search-container input:not(:placeholder-shown)+img {
	visibility: visible !important;
	opacity: 1 !important;
}

@media(max-width: 1620px){
	#left-header-container {
		width: 250px;
	}

	#LH-title-direct-container h1{
		font-size: 1.55em;
	}

	#LH-navigation-links-container ul li,
	.LH-links-grouper-expander-container {
		padding: 10px 0px 10px 0px;
	}

	#LH-title-direct-container p {
		font-size: 15.5px;
	}

	#LH-search-container input {
		font-size: 13px;
		width: 200px;
	}

	#LH-navigation-links-container {
		padding-left: 10px;
	}

	#LH-search-container img {
		right: 32px;
	}

	.LH-links-grouper-expander-container img {
		width: 17px;
		height: 9px;
	}

	#LH-navigation-links-container ul li img,
	.LH-links-grouper-expander-container > img {
		width: 22.5px;
		height: 22.5px;
	}

	#LH-navigation-links-container ul li p, .LH-links-grouper-expander-direct-container p {
		font-size: 12.6px;
	}

	#LH-navigation-links-container ul li, .LH-links-grouper-expander-container {
		padding-left: 1em;
	}
}

@media(max-width: 1000px){
	#left-header-container {
		border-right: none;
		display: block;
		margin-top: 100px;
		width: 0px;
		position: fixed;
		z-index: 100;
		-webkit-box-shadow: 2px 2px 3px -2px black;
		        box-shadow: 2px 2px 3px -2px black;
		height: 450px;
		min-height: auto;
		padding: 0.5em 0px 0px 0px;
		-webkit-transition-duration: 0.7s;
		     -o-transition-duration: 0.7s;
		        transition-duration: 0.7s;
	}
	#left-header-container[mob-status='open'] {
		width: 280px;
		padding: 0.5em 8px 0px 16px;
		border-right: 1px solid rgb(90, 90, 90);
	}

	#LH-title-direct-container {
		display: none;
	}

	#LH-search-container {
		padding-top: 1em;
	}

	#LH-navigation-links-container {
		margin-top: 2.2em;
		height: 320px;
	}

	#LH-search-container input {
		width: 220px;
		-webkit-transition-delay: 0.25s;
		     -o-transition-delay: 0.25s;
		        transition-delay: 0.25s;
		visibility: hidden;
		opacity: 0;
	}
	#left-header-container[mob-status='open'] #LH-search-container input {
		visibility: visible;
		opacity: 1;
	}

	#LH-navigation-links-container ul li img, .LH-links-grouper-expander-container > img {
		width: 20px;
		height: 20px;
	}

	#LH-navigation-links-container ul > li p, .LH-links-grouper-expander-direct-container p,
	#LH-navigation-links-container ul > li img, .LH-links-grouper-expander-direct-container img, .LH-links-grouper-expander-container > img {
		-webkit-transition-duration: 0.25s;
		     -o-transition-duration: 0.25s;
		        transition-duration: 0.25s;
		visibility: hidden;
		opacity: 0;
	}

	#left-header-container[mob-status='open'] #LH-navigation-links-container ul > li p, 
	#left-header-container[mob-status='open'] .LH-links-grouper-expander-direct-container p,
	#left-header-container[mob-status='open'] #LH-navigation-links-container ul > li img, 
	#left-header-container[mob-status='open'] .LH-links-grouper-expander-direct-container img,
	#left-header-container[mob-status='open'] .LH-links-grouper-expander-container > img {
		visibility: visible;
		opacity: 1;
		-webkit-transition-duration: 2s;
		     -o-transition-duration: 2s;
		        transition-duration: 2s;
	}

	#LH-navigation-links-container ul > li, 
	.LH-links-grouper-container {
		min-width: 260px;
	}
}