#LH-filtered-mini-ticket-bands-direct-container {
	position: absolute;
}

.LH-filtered-mini-ticket-band {
	padding: 10px;
	width: 246px;
	margin: 15px 0px 10px 0px;
	border:solid 1px rgb(90, 90, 90);
	z-index: 2;
	cursor: pointer;
	color: white;
	line-height: 14.5px;
	-webkit-transition-duration: 0.29s;
	     -o-transition-duration: 0.29s;
	        transition-duration: 0.29s;
	height: 60px;
	
}
.LH-filtered-mini-ticket-band:hover {
	-webkit-box-shadow: 0 1px 10px 2px rgba(220,220,220,0.42);
	        box-shadow: 0 1px 10px 2px rgba(220,220,220,0.42);
}

.LH-filtered-mini-ticket-band[status-type='open'] {
	background-image: -webkit-gradient(linear,left top, right top,from(#33001b),to(#ff0084));
	background-image: -o-linear-gradient(left,#33001b, #ff0084);
	background-image: linear-gradient(to right,#33001b, #ff0084);
}
.LH-filtered-mini-ticket-band[status-type='blocked'] {
	background-image: -webkit-gradient(linear, left top, right top, from(#3e3708), to(#dad313));
	background-image: -o-linear-gradient(left, #3e3708, #dad313);
	background-image: linear-gradient(to right, #3e3708, #dad313);
}
.LH-filtered-mini-ticket-band[status-type='concluded'] {
	background-image: -webkit-gradient(linear, left top, right top, from(#223322), to(#0f9b0f));
	background-image: -o-linear-gradient(left, #223322, #0f9b0f);
	background-image: linear-gradient(to right, #223322, #0f9b0f);
}
.LH-filtered-mini-ticket-band[status-type='deleted'] {
	background-image: -webkit-gradient(linear, left top, right top, from(#3F0D12), to(#A71D31));
	background-image: -o-linear-gradient(left, #3F0D12, #A71D31);
	background-image: linear-gradient(to right, #3F0D12, #A71D31);
}
.LH-filtered-mini-ticket-band[status-type='homologation'] {
	background-image: -webkit-gradient(linear, left top, right top, from(#000046), to(#1CB5E0));
	background-image: -o-linear-gradient(left, #000046, #1CB5E0);
	background-image: linear-gradient(to right, #000046, #1CB5E0);
}

.LH-FTB-title-direct-container {
	font-size: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.LH-FTB-title-direct-container h3 {
	width: 85%;
}

.LH-FTB-title-direct-container p {
	width: 15%;
}

.LH-FTB-general-infos-container {
	font-size: 11.5px;
	padding-top: 5px;
}

.LH-FTB-general-infos-container span, .LH-FTB-title-direct-container p span {
	font-weight: bold;
}

@media(max-width: 1550px){
	.LH-filtered-mini-ticket-band {
		padding: 6px 10px 8px 10px;
		width: 230px;
		margin: 12px 0px 6px 0px;
	}

	.LH-FTB-title-direct-container {
		font-size: 11.2px;
	}
	
	.LH-FTB-general-infos-container {
		font-size: 10.8px;
	}

	.LH-FTB-general-infos-container {
		padding-top: 4px;
	}
}