#top-header-container{
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: calc(100vw - 318px);
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(105, 105, 105);
	font-size: 14.5px;
	border-bottom: 1px solid rgb(120, 120, 120);
}
div[theme='bright'] #top-header-container {
	background-color: rgb(232, 232, 232);
	border-bottom: none;
}

#TH-login-and-brightness-direct-container{
	display: flex;
	padding-left: 12px;
	padding-right: 12px;
	align-items: center;
}

#TH-login-and-brightness-direct-container a{
	text-decoration: none;
	color: rgb(240, 240, 240);
	font-family: 'Quicksand', sans-serif;
	padding-left: 10px;
}
div[theme='bright'] #TH-login-and-brightness-direct-container a{
	color: rgb(50, 50, 50);
}

#TH-login-and-brightness-direct-container a:hover{
	text-decoration: underline;
}

#TH-login-and-brightness-direct-container img{
	width: 27px;
	height: 27px;
}

#TH-brightness-theme-direct-container {
	display: flex;
	align-items: center;
	padding-left: 15px;
}

#TH-brightness-theme-direct-container span {
	color: rgb(240, 240, 240);
	padding-left: 7px;
	cursor: pointer;
}
div[theme='bright'] #TH-brightness-theme-direct-container span {
	color: rgb(50, 50, 50);
}

#TH-brightness-theme-direct-container span:hover {
	text-decoration: underline;
}

#TH-languages-direct-container{
	padding-right: 28px;
	display: flex;
	font-size: 0.9em;
	align-items: center;
}

#TH-languages-direct-container button{
	border: none;
	background-color: rgb(105, 105, 105);
	padding-left: 6px;
	padding-right: 6px;
	font-family: 'Quicksand', sans-serif;
	color: rgb(240, 240, 240);
	cursor: pointer;
}
div[theme='bright'] #TH-languages-direct-container button {
	background-color: rgb(232, 232, 232);
	color: rgb(50, 50, 50);
}

#TH-languages-direct-container button[status='on']{
	font-weight: bold;
	text-decoration: underline;
}

#TH-languages-direct-container button:hover {
	text-decoration: underline;
}

#TH-languages-direct-container p:hover{
	text-decoration: underline;
}

@media(max-width: 1440px){
	#top-header-container{
		width: calc(100vw - 280px);
	}
}