#top-header-container{
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: calc(100vw - 318px);
	background-color: rgb(105, 105, 105);
	font-size: 14.5px;
	border-bottom: 1px solid rgb(120, 120, 120);
	padding: 10px 0px 10px 0px;
	font-family: 'Quicksand', sans-serif;
}
div[theme='bright'] #top-header-container {
	background-color: rgb(232, 232, 232);
	border-bottom: none;
}

#TH-login-and-brightness-direct-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0px 12px 0px 12px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#TH-login-and-brightness-direct-container a{
	text-decoration: none;
	color: rgb(240, 240, 240);
	padding-left: 10px;
}
div[theme='bright'] #TH-login-and-brightness-direct-container a{
	color: rgb(50, 50, 50);
}

#TH-login-and-brightness-direct-container a:hover{
	text-decoration: underline;
}

#TH-login-and-brightness-direct-container img{
	width: 27px;
	height: 27px;
}

#TH-brightness-theme-direct-container, #TH-logged-in-user-display-direct-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 15px;
}

#TH-brightness-theme-direct-container span {
	color: rgb(240, 240, 240);
	padding-left: 7px;
	cursor: pointer;
}
div[theme='bright'] #TH-brightness-theme-direct-container span {
	color: rgb(50, 50, 50);
}

#TH-logged-in-user-display-direct-container p {
	color: rgb(240, 240, 240);
	padding-left: 7px;
}
div[theme='bright'] #TH-logged-in-user-display-direct-container p {
	color: rgb(50, 50, 50);
}

#TH-brightness-theme-direct-container span:hover, #TH-logged-in-user-display-direct-container p span {
	text-decoration: underline;
}

#TH-languages-direct-container{
	padding-right: 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0.9em;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#TH-languages-direct-container button{
	border: none;
	background-color: rgb(105, 105, 105);
	padding: 0px 6px 0px 5px;
	color: rgb(240, 240, 240);
	cursor: pointer;
}
div[theme='bright'] #TH-languages-direct-container button {
	background-color: rgb(232, 232, 232);
	color: rgb(50, 50, 50);
}

#TH-languages-direct-container button[status='on']{
	font-weight: bold;
	text-decoration: underline;
}

#TH-languages-direct-container button:hover {
	text-decoration: underline;
}

#TH-languages-direct-container p:hover{
	text-decoration: underline;
}

.TH-language-direct-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 8px;
}

.TH-language-direct-container img {
	width: 20px;
	height: 13px;
	padding-top: 2px;
}

@media(max-width: 1320px){
	#top-header-container {
		width: calc(100vw - 288px);
	}
}

@media(max-width: 1200px){
	#TH-logged-in-user-display-direct-container {
		display: none;
	}
}

@media(max-width: 1000px){
	#top-header-container {
		width: 100vw;
	}
}

@media(max-width: 720px){
	#top-header-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	#TH-languages-direct-container {
		padding-right: 0px;
	}

	#TH-login-and-brightness-direct-container {
		margin-bottom: 15px;
	}

	#TH-brightness-theme-direct-container img, #TH-login-and-brightness-direct-container img {
		width: 23px;
		height: 23px;
	}

	.TH-language-direct-container img {
		width: 18px;
		height: 12px;
	}
}