#PFL-manage-groups-container {
    transition-duration: 0.4s;
    padding: 28px 95px 0px 190px;
    display: flex;
    justify-content: space-between;
}

#PFL-MG-delete-group-direct-container {
    margin-right: 44px;
    width: 200px;
}

#PFL-MG-delete-group-direct-container h3,
#PFL-MG-create-group-direct-container h3 {
    font-size: 14px;
    font-weight: normal;
    color: rgb(235, 235, 235);
}
div[theme='bright'] #PFL-MG-delete-group-direct-container h3,
div[theme='bright'] #PFL-MG-create-group-direct-container h3 {
    color: rgb(30, 30, 30);
}

#PFL-MG-delete-group-direct-container select {
    margin: 20px 0px 25px 0px;
    padding: 2px;
    border: 1px solid rgb(170, 170, 170);
    width: 150px;
    color: rgb(235, 235, 235);
    background: rgb(30, 30, 30);
}

#PFL-MG-create-group-direct-container input {
    width: 200px;
    border: none; border-bottom: 1px solid rgb(210, 210, 210);
    background: none;
    margin: 20px 0px 25px 0px;
    padding: 0px 0px 6px 0px;
    color: rgb(235, 235, 235);
}
#PFL-MG-create-group-direct-container input:focus {
    border-bottom: 1px solid rgb(160, 160, 160);
}

div[theme='bright'] #PFL-MG-delete-group-direct-container select,
div[theme='bright'] #PFL-MG-create-group-direct-container input {
    color: rgb(30, 30, 30);
}
div[theme='bright'] #PFL-MG-delete-group-direct-container select {
    background: rgb(255, 255, 255);
}

#PFL-MG-delete-group-direct-container button,
#PFL-MG-create-group-direct-container button {
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    color: white;
}

#PFL-MG-delete-group-direct-container button {
    background-image: -webkit-gradient(linear, left top, right top, from(#3F0D12), to(#A71D31));
	background-image: -o-linear-gradient(left, #3F0D12, #A71D31);
	background-image: linear-gradient(to right, #3F0D12, #A71D31);
}

#PFL-MG-create-group-direct-container button {
    background-image: -webkit-gradient(linear, left top, right top, from(#223322), to(#0f9b0f));
	background-image: -o-linear-gradient(left, #223322, #0f9b0f);
	background-image: linear-gradient(to right, #223322, #0f9b0f);
}

#PFL-MG-create-group-error-message,
#PFL-MG-delete-group-error-message,
#PFL-MG-delete-group-direct-container button,
#PFL-MG-create-group-direct-container button,
#PFL-MG-create-group-direct-container input,
.PFL-MG-success-gif {
    transition-duration: 0.3s;
}
#PFL-MG-delete-group-direct-container button:hover,
#PFL-MG-create-group-direct-container button:hover {
    opacity: 0.88;
}

#PFL-MG-group-to-be-deleted-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#PFL-MG-group-to-be-deleted-container div {
    margin: 6px 0px 6px 0px;
}

#PFL-MG-group-to-be-deleted-container span {
    margin-right: 0px !important;
    font-size: 12px !important;
}

#PFL-MG-delete-group-title-direct-container,
#PFL-MG-create-group-title-direct-container {
    display: flex;
    align-items: center;
}

.PFL-MG-success-gif,
.PFL-MG-loading-gif {
    width: 25px;
    height: 25px;
    margin-left: 8px;
}

.PFL-MG-loading-gif {
    width: 20px;
    height: 20px;
}

#PFL-MG-create-group-error-message,
#PFL-MG-delete-group-error-message {
    font-size: 12.5px;
    padding-top: 10px;
    color: red;
    width: 150px;
    line-height: 18px;
}

@media(max-width: 1550px){
    #PFL-MG-delete-group-direct-container {
        margin-right: 0px !important;
    }

    #PFL-MG-delete-group-direct-container h3, #PFL-MG-create-group-direct-container h3 {
        font-size: 14px;
    }

    #PFL-MG-create-group-direct-container input,
    #PFL-MG-delete-group-direct-container button, #PFL-MG-create-group-direct-container button,
    #PFL-MG-delete-group-direct-container select {
        font-size: 13px;
    }
}