
  
  .group {
    margin-bottom: 2em;
  }
  
  
  input[type=radio] {
    margin-right: 13px;
    cursor: pointer;
  }
  
  label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
  }
  label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid white;
    border-radius: 0.25em;
    z-index: -1;
  }
  
  input[type=radio] + label::before {
    border-radius: 1em;
  }
  

  input[type=radio]:checked + label {
    padding-left: 0.6em;
    color: #8e44ad;
  }

  input[type=radio]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: white;
  }
  

  label, label::before {
    transition: 0.25s all ease;
  }