#PFL-preferences-container {
    padding: 8px 157px 0px 190px;
    -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
}

.PFL-PRE-content-line-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#PFL-PRE-languages-direct-container, #PFL-PRE-brightness-themes-direct-container {
    margin-top: 27px;
}

.PFL-PRE-title-and-success-icon-direct-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

#PFL-PRE-languages-direct-container h3, #PFL-PRE-brightness-themes-direct-container h3 {
    font-size: 15px;
    font-weight: normal;
    color: rgb(235, 235, 235);
}
div[theme='bright'] #PFL-PRE-languages-direct-container h3, div[theme='bright'] #PFL-PRE-brightness-themes-direct-container h3 {
    color: rgb(30, 30, 30);
}

.PFL-PRE-success-gif {
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 0.32s;
         -o-transition-duration: 0.32s;
            transition-duration: 0.32s;
    padding-left: 8px;
    width: 25px;
    height: 25px;
}
.PFL-PRE-success-gif[status="on"] {
    visibility: visible;
    opacity: 1;
}

.PFL-PRE-language-label, .PFL-PRE-language-input, .PFL-PRE-brightness-theme-label, .PFL-PRE-brightness-theme-input {
    cursor: pointer;
}

.PFL-PRE-language-direct-container, .PFL-PRE-brightness-theme-direct-container {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.PFL-PRE-brightness-theme-direct-container {
    padding-bottom: 12px;
}

.PFL-PRE-language-label, .PFL-PRE-brightness-theme-label {
    padding-left: 17px;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-size: 14px;
    color: rgb(235, 235, 235);
}
div[theme='bright'] .PFL-PRE-language-label, div[theme='bright'] .PFL-PRE-brightness-theme-label {
    color: rgb(30, 30, 30);
}

.PFL-PRE-language-input, .PFL-PRE-brightness-theme-input {
    margin: 0px;
}

.PFL-PRE-language-input:checked + label, .PFL-PRE-brightness-theme-input:checked + label {
    padding-left: 30px;
    color: #8e44ad;
}

.PFL-PRE-language-direct-container img {
    width: 20px;
    height: 14px;
    padding-left: 7px;
}

.PFL-PRE-brightness-theme-direct-container img {
    width: 22px;
    height: 22px;
    padding-left: 5px;
}

@media(max-width: 1600px){
	#PFL-PRE-languages-direct-container h3, #PFL-PRE-brightness-themes-direct-container h3 {
        font-size: 14.5px;
    }

    .PFL-PRE-language-label, .PFL-PRE-brightness-theme-label {
        font-size: 13px;
    }
}

@media(max-width: 1500px){
	#PFL-preferences-container {
        padding: 8px 35px 0px 190px;
    }
}

@media(max-width: 750px){
	#PFL-preferences-container {
        padding-left: 15px !important;
    }
}

@media(max-width: 450px){
	.PFL-PRE-content-line-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}