#create-ticket-container{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 6vh;
	font-family: 'Quicksand', sans-serif;
}

#create-ticket-container *[screen-type='mob'] {
	display: none;
}

#TC-container-centrelizer{
	width: 70%;
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(90, 90, 90);
	overflow-y: auto;
	max-height: 80vh;
}
div[theme='bright'] #TC-container-centrelizer {
	background-color: white;
	border: 1px solid rgb(225, 225, 225);
}

#TC-title-container {
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid rgb(90, 90, 90);
}
div[theme='bright'] #TC-title-container {
	border-bottom: 1px solid rgb(225, 225, 225);
}

#TC-title-direct-container {
	display: flex;
	align-items: center;
}

.TC-loading-gif {
	width: 50px;
	height: 50px;
	transition-duration: 0.3s;
}

.TC-success-gif {
	width: 30px;
	height: 30px;
	transition-duration: 0.3s;
}

#TC-title-container h1{
	font-size: 1.1em;
	letter-spacing: 0.035em;
	line-height: 22px;
	text-align: center;
	text-transform: capitalize;
	font-weight: normal;
	border-left: none; border-right: none;
	background-color: rgb(30, 30, 30);
	color: rgb(225, 225, 225);
	padding: 1em 14px 1em 14px;
}
div[theme='bright'] #TC-title-container h1 {
	background-color: white;
	color: rgb(20, 20, 20);
}

#TC-inputs-first-block-container {
	padding-top: 1.75em !important;
}

#TC-inputs-second-block-container {
	padding-top: 1.5em !important;
}

.TC-inputs-block-container {
	padding: 2em 0px 1em 0px;
}

#TC-name-and-date-container {
	padding: 1em 0px 1em 0px;
}

#TC-name-and-date-container, .TC-inputs-block-container, #TC-attachments-and-description-container{
	display: flex;
	justify-content: space-around;
}

#TC-name-direct-container {
	width: 45%;
	font-size: 14px;
}

.TC-error-message-direct-container, #TC-title-container {
	display: flex;
	justify-content: space-between;
}

.TC-error-message {
	padding-left: 15px;
	color: red !important;
	transition-duration: 0.3s;
	max-width: 200px;
}

#TC-ticket-name-error-message[status='off'], .TC-loading-gif[status='off'], .TC-success-gif[status='off'], #TC-description-error-message[status='off'] {
	visibility: hidden;
	opacity: 0;
}
#TC-ticket-name-error-message[status='on'], .TC-loading-gif[status='on'], .TC-success-gif[status='on'], #TC-description-error-message[status='on'] {
	visibility: visible;
	opacity: 1;
}

#TC-name-direct-container p {
	color: white;
	margin-bottom: 25px;
}
div[theme='bright'] #TC-name-direct-container p {
	color: rgb(20, 20, 20);
}

#TC-name-direct-container span {
	text-decoration: underline;
	font-weight: bold;
	color: rgb(230, 230, 230);
}
div[theme='bright'] #TC-name-direct-container span {
	color: rgb(40, 40, 40);
}

#TC-name-direct-container input {
	padding: 8px 8px 8px 0px;
	color: rgb(230, 230, 230);
	background-color: rgb(30, 30, 30);
	border: none;
	border-bottom: 1px solid rgb(90, 90, 90);
	font-size: 15px !important;
	width: 98%;
	transition-duration: 0.37s;
}
div[theme='bright'] #TC-name-direct-container input {
	color: rgb(92, 92, 92);
	background-color: white;
	border-bottom: 1px solid rgb(200,200,200);
}

#TC-name-direct-container input:focus {
	border-bottom: 1px solid rgb(135, 135, 135);
}
div[theme='bright'] #TC-name-direct-container input:focus {
	border-bottom: 1px solid rgb(80, 80, 80);
}

#TC-due-date-direct-container, #TC-description-direct-container {
	color: white;
	width: 45%;
	font-size: 14px;
}
div[theme='bright'] #TC-due-date-direct-container, div[theme='bright'] #TC-description-direct-container {
	color: rgb(20, 20, 20);
}

#TC-due-date-title { /*total sums of padding & margins with the size of the element subtracting the border*/
	margin-bottom: 25px;
}

#TC-due-date-title span, #TC-description-direct-container span {
	color: rgba(228, 228, 228);
	font-weight: bold;
	text-decoration: underline;
}
div[theme='bright'] #TC-due-date-title span, div[theme='bright'] #TC-description-direct-container span {
	color: rgb(90, 90, 90);
}

#TC-due-date-chosen {
	padding: 10px;
	background-color: rgb(90, 90, 90);
	cursor: pointer;
	transition-duration: 0.35s;
}
div[theme='bright'] #TC-due-date-chosen {
	background-color: rgb(200,200,200);
}

#TC-due-date-chosen:hover {
	background-color: rgb(115, 115, 115);
}
div[theme='bright'] #TC-due-date-chosen:hover {
	background-color: rgb(255, 255, 255);
}

#TC-attachment-blocks-title {
	text-decoration: underline;
	font-weight: bold;
	color: white;
	font-size: 14px;
	padding-bottom: 10px;
	margin-top: 20px;
}
div[theme='bright'] #TC-attachment-blocks-title {
	color: rgb(20, 20, 20);
}

#TC-attachments-and-description-container {
	padding-top: 15px;
	align-items: center;
}

#TC-attachments-and-description-container .attachment-blocks {
	margin-top: 10px !important;
}

#TC-attachments-and-description-container > div {
	width: 45%;
}

#TC-create-button-direct-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.TC-create-button-direct-container {
	justify-content: center;
}

.TC-create-button-direct-container button {
	border: none;
	background-color: rgb(30, 30, 30);
	cursor: pointer;
	padding: 12px;
	width: 170px;
	color: white;
	transition-duration: 0.3s;
	text-transform: uppercase;
}
div[theme='bright'] .TC-create-button-direct-container button {
	color: rgb(20, 20, 20);
	background-color: rgb(250, 250, 250);
}

.TC-create-button-direct-container button:hover {
	box-shadow: inset 0 0 20px rgb(255 255 255 / 0%);
	outline-color: rgba(255, 255, 255, 0.5);
  	-webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  	outline-color: rgba(255, 255, 255, 0);
  	text-shadow: 1px 1px 2px #427388;
}
div[theme='bright'] .TC-create-button-direct-container button:hover {
	outline-color: rgba(20, 20, 20, 0.5);
	-webkit-box-shadow: inset 0 0 20px rgba(20, 20, 20, 0.5), 0 0 20px rgba(20, 20, 20, 0.2);
          box-shadow: inset 0 0 20px rgba(20, 20, 20, 0.5), 0 0 20px rgba(20, 20, 20, 0.2);
	outline-color: rgba(20, 20, 20, 0);
	text-shadow: none;
}

.react-calendar {
	position: absolute !important;
	top: 24%;
}

.react-calendar__month-view__weekdays__weekday {
	color: black;
}
div[theme='bright'] .react-calendar__month-view__weekdays__weekday {
	color: white;
}

#TC-description-direct-container {
	padding-bottom: 25px;
}

#TC-description-direct-container p {
	padding-bottom: 20px;
}

#TC-description-direct-container textarea{
	resize: none;
	height: 80px;
	width: calc(100% - 15px);
	background-color: rgb(30, 30, 30);
	color: white;
	padding: 7px;
	border: 1px solid rgb(180, 180, 180) !important;
}

div[theme='bright'] #TC-description-direct-container textarea {
	color: rgb(30, 30, 30);
	background-color: rgb(255, 255, 255);
}

.TC-attachment-blocks-direct-container {
	align-items: center;
	margin-top: 20px;
}

.TC-attachment-blocks-direct-container, .TC-create-button-direct-container{
	display: flex;
	flex-direction: column;
}

@media(max-width: 1600px){
	#TC-container-centrelizer {
		width: 85%;
	}
}

@media(max-width: 1360px){
	#TC-container-centrelizer {
		width: 94%;
	}
}

@media(max-width: 860px){
	.TC-create-button-direct-container{
		display: none;
	}

	#TC-title-container {
		justify-content: center;
	}

	.TC-inputs-block-container, #TC-name-and-date-container, #TC-attachments-and-description-container {
		flex-direction: column;
		align-items: center;
	}

	#TC-name-direct-container, .TC-selection-input-direct-container, #TC-due-date-direct-container, #TC-attachments-and-description-container > div {
		width: 90% !important;
	}

	#TC-name-direct-container {
		margin-bottom: 26px;
	}

	#TC-attachments-and-description-container {
		padding-top: 0px;
	}

	.TC-attachment-blocks-direct-container {
		margin-bottom: 30px;
	}

	.TC-create-button-direct-container[screen-type='mob'] {
		display: flex !important;
		align-items: center;
		margin-bottom: 20px;
	}
}