.TC-selection-input-direct-container select{
	border: 1px solid rgb(200,200,200);
	padding: 0.35em;
	background-color: rgb(30, 30, 30);
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	margin: 1em 0px 1em 0px;
	color: white;
}
div[theme='bright'] .TC-selection-input-direct-container select {
	color: rgb(92, 92, 92);
	background-color: white;
}

.TC-SP-selection-title-direct-container{
	padding-bottom: 0.57em;
}

.TC-SP-new-option-radio-input-direct-container {
	padding-top: 4px;
}

.TC-SP-selection-title, .TC-SP-new-option-radio-input-direct-container label {
	font-size: 14px;
}

.TC-SP-new-option-radio-input-direct-container, .TC-SP-selection-title-direct-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.TC-SP-new-option-radio-input-direct-container input, .TC-SP-selection-title-direct-container input {
	margin-right: 6px !important;
}

.TC-SP-new-option-text-input {
	padding: 8px 8px 8px 0px;
	color: rgb(230, 230, 230);
	background-color: rgb(30, 30, 30);
	border: none; border-bottom: 1px solid rgb(90, 90, 90);
	font-size: 14px !important;
	width: 98%;
	-webkit-transition-duration: 0.37s;
	     -o-transition-duration: 0.37s;
	        transition-duration: 0.37s;
	visibility: hidden;
	opacity: 0;
	height: 0px;
}
div[theme='bright'] .TC-SP-new-option-text-input {
	color: rgb(92, 92, 92);
	background-color: white;
	border-bottom: 1px solid rgb(200,200,200);
}
.TC-SP-new-option-text-input[status="on"] {
	margin-top: 24px;
	margin-bottom: 6px;
	height: auto;
}

.TC-selection-input-direct-container {
	width: 45%;
	color: white;
}
div[theme='bright'] .TC-selection-input-direct-container {
	color: rgb(30, 30, 30);
}

.TC-SP-selection-title span {
	font-weight: bold;
	color: rgb(200,200,200);
	text-decoration: underline;
}
div[theme='bright'] .TC-SP-selection-title span {
	color:rgb(40, 40, 40);
}

.TC-SP-aggregative-selected-blocks-direct-container {
	line-height: 27px;
}

@media(max-width: 1620px){
	.TC-SP-selection-title, .TC-SP-new-option-radio-input-direct-container label,
	#TC-name-direct-container p,
	#TC-due-date-title,
	#TC-due-date-chosen,
	#TC-description-direct-container p {
		font-size: 12.5px !important;
	}

	#TC-name-direct-container input {
		font-size: 13px !important;
	}

	.TC-selection-input-direct-container select {
		padding: 0.3em;
		font-size: 12.5px;
	}
}

@media(max-width: 1380px){
	.TC-SP-selection-title, .TC-SP-new-option-radio-input-direct-container label,
	#TC-name-direct-container p,
	#TC-due-date-title,
	#TC-due-date-chosen,
	#TC-description-direct-container p {
		font-size: 12px !important;
	}

	#TC-name-direct-container input {
		font-size: 12.5px !important;
	}

	.TC-selection-input-direct-container select {
		padding: 0.3em;
		font-size: 12px;
	}
}