/*FIRST BLOCK ITSELF*/
.ticket-band-container {
	margin-left: 22px;
	background-color: rgb(30, 30, 30);
	margin-top: 16px;
    width: calc(100vw - 318px - 56px);
    cursor: pointer;
	transition-duration: 0.3s;
	border: 1px solid rgb(90, 90, 90);
	margin-bottom: 12px;
}
div[theme='bright'] .ticket-band-container {
	background-color: white;
	border: 1px solid rgb(220, 220, 220);
}

.ticket-band-container:hover{
	box-shadow: 0 1px 30px 4px rgba(220,220,220,0.42);
}
div[theme='bright'] .ticket-band-container:hover {
	box-shadow: 0 1px 30px 4px rgba(80,80,80,0.42);
}

#TB-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 16px;
    padding-left: 20px;
}
.TB-title-container {
	color: white;
	display: flex;
}
div[theme='bright'] .TB-title-container {
	color: rgb(30, 30, 30);
}

.TB-title-container p{
	font-family: 'Quicksand', sans-serif;
	font-size: 19px;
}
.TB-title-container img{
	width: 19px;
	height: 19px;
}
#TB-intitle-ticket-management-options{
	padding-right: 2em;
}
#TB-intitle-ticket-management-options span{
	padding-left: 4px;
	padding-right: 4px;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
	cursor: pointer;
}
#TB-intitle-ticket-management-options span:hover{
	text-decoration: underline;
}
.TB-content-block-container{
	padding-top: 2em;
    padding-left: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 0.95em;
	padding-bottom: 16px;
}

#TB-ticket-delete {
	color: rgb(199, 47, 53);
}

#TB-ticket-conclude {
	color: rgb(49, 182, 53);
}

#TB-ticket-block {
	color: rgb(204,204,0);
}

#TB-ticket-homologate {
	color: rgb(45, 176, 175);
}


#TB-photo-and-personal-identification-container{
	display: flex;
	padding-right: 18px;
	max-width: 35%;
}
#TB-photo-and-personal-identification-container img{
	width: 110px;
	height: 110px;
	padding-right: 35px;
}
.TB-ticket-id, .TB-assigneds-names, .TB-groups-names{
	padding-top: 3px;
}
.TB-name-and-person-info-direct-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 110px;
	font-size: 14px;
}
.TB-name-and-person-info-direct-container p {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.3px;
	color: rgb(210, 210, 210);
}
div[theme='bright'] .TB-name-and-person-info-direct-container p {
	color: rgb(90, 90, 90);
}

.TB-name-and-person-info-direct-container p span {
	color: rgb(230, 230, 230) !important;
	font-weight: bold;
	line-height: 19px;
}
div[theme='bright'] .TB-name-and-person-info-direct-container p span {
	color: rgb(65, 65, 65) !important;
}

.TB-statuses-and-dates-container{
	display: flex;
	padding-right: 3em;
	font-size: 14px;
}
.TB-status-or-date {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.3px;
	padding-bottom: 8px;
	color: rgb(210, 210, 210);
}
div[theme='bright'] .TB-status-or-date {
	color: rgb(90, 90, 90);
}

.TB-status-or-date span{
	font-weight: bold;
	color: rgb(230, 230, 230);
}
div[theme='bright'] .TB-status-or-date span {
	color: rgb(65, 65, 65);
}

.TB-description-container{
	display: flex;
	width: 35%;
	padding-right: 12px;
}
.TB-description-container h2{
	text-align: center;
	font-size: 1.1em;

}
.TB-description-container p, .TB-description-container h2{
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 16px;
	letter-spacing: 0.3px;
	line-height: 135%;
	font-size: 14px;
	color: white;
}
.TB-description-container h2 {
	color: rgb(240, 240, 240);
}
div[theme='bright'] .TB-description-container p, div[theme='bright'] .TB-description-container h2 {
	color: rgb(30, 30, 30);
}

/*FIRST BLOCK ITSELF*/

@media(max-height: 820px){
	.TB-content-block-container{
		font-size: 0.85em !important;
	}
}

@media(max-width: 1580px){
	.TB-description-container p, .TB-status-or-date, .TB-name-and-person-info-direct-container p{
		font-size: 0.9em;
	}
	.TB-description-container h2{
		font-size: 1.05em;
	}
}

@media(max-width: 1440px){
	.TB-content-block-container{
		font-size: 0.9em;
	}
	#TB-photo-and-personal-identification-container{
		padding-right: 1.75em;
	}
	.TB-statuses-and-dates-container{
		padding-right: 1em;
	}
}

@media(max-width: 1200px){
	.TB-content-block-container{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.TB-description-container{
		width: 50%;
		padding-top: 2.5em;
	}
	.TB-status-or-date{
		padding-bottom: 8px;
	}
	.TB-description-container h2{
		padding-bottom: 10px;
	}
	.TB-statuses-and-dates-container{
		padding-top: 2.5em;
	}
}

@media(max-width: 818px){
	#TB-photo-and-personal-identification-container{
		padding-right: 1em;
	}
	.TB-description-container{
		width: 75%;
	}
	.TB-statuses-and-dates-container{
		padding-right: 0px;
	}
}
@media(max-width: 700px){
	#TB-intitle-ticket-management-options{
		padding-top: 1em;
	}
}
@media(max-width: 600px){
	#TB-photo-and-personal-identification-container img{
		padding-right: 25px;
	}
}

@media(max-width: 450px){
	.TB-title-container{
		max-width: 80%;
		align-items: center;
	}
	#TB-intitle-ticket-management-options{
		padding-top: 2.5em;
		padding-bottom: 1.5em;
	}
	#TB-photo-and-personal-identification-container img{
		display: none;
	}
	.TB-name-and-person-info-direct-container p{
		text-align: center;
		padding-bottom: 6px; 
	}
	.TB-description-container{
		padding-right: 0px;
		width: 90%;
	}
	.TB-statuses-and-dates-container{
		padding-right: 0px;
	}
	.TB-title-container p{
		font-size: 1.15em;
	}
}