/*FIRST BLOCK ITSELF*/
.main-content-first-block {
	margin-left: 22px;
	background-color: rgb(30, 30, 30);
	margin-top: 16px;
    width: calc(100vw - 318px - 56px);
    cursor: pointer;
	transition-duration: 0.3s;
	border: 1px solid rgb(90, 90, 90);
}
div[theme='bright'] .main-content-first-block {
	background-color: white;
	border: 1px solid rgb(220, 220, 220);
}

.main-content-first-block:hover{
	box-shadow: 0 1px 30px 4px rgba(220,220,220,0.42);
}
div[theme='bright'] .main-content-first-block:hover {
	box-shadow: 0 1px 30px 4px rgba(80,80,80,0.42);
}

#first-block-title-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 16px;
    padding-left: 20px;
}
.first-block-title-container-aux {
	color: white;
	display: flex;
}
div[theme='bright'] .first-block-title-container-aux {
	color: rgb(30, 30, 30);
}

.first-block-title-container-aux p{
	font-family: 'Quicksand', sans-serif;
	font-size: 19px;
}
.first-block-title-container-aux img{
	width: 19px;
	height: 19px;
}
#first-block-intitle-ticket-management-options{
	padding-right: 2em;
}
#first-block-intitle-ticket-management-options span{
	padding-left: 4px;
	padding-right: 4px;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
	cursor: pointer;
}
#first-block-intitle-ticket-management-options span:hover{
	text-decoration: underline;
}
.first-block-main-info{
	padding-top: 2em;
    padding-left: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 0.95em;
	padding-bottom: 16px;
}

#ticket-delete {
	color: rgb(199, 47, 53);
}

#ticket-conclude {
	color: rgb(49, 182, 53);
}

#ticket-block {
	color: rgb(204,204,0);
}

#ticket-homologate {
	color: rgb(45, 176, 175);
}


#photo-and-personal-identification-container{
	display: flex;
	padding-right: 18px;
}
#photo-and-personal-identification-container img{
	width: 110px;
	height: 110px;
	padding-right: 35px;
}
.other{
	padding-top: 6px;
}
.name-and-person-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 110px;
	font-size: 14px;
}
.name-and-person-info p {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.3px;
	color: rgb(210, 210, 210);
}
div[theme='bright'] .name-and-person-info p {
	color: rgb(90, 90, 90);
}

.name-and-person-info p span {
	color: rgb(230, 230, 230) !important;
	font-weight: bold;
}
div[theme='bright'] .name-and-person-info p span {
	color: rgb(65, 65, 65) !important;
}

#ticket-descriptions-container{
	display: flex;
	padding-right: 3em;
	font-size: 14px;
}
.description-piece {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.3px;
	padding-bottom: 8px;
	color: rgb(210, 210, 210);
}
div[theme='bright'] .description-piece {
	color: rgb(90, 90, 90);
}

.description-piece span{
	font-weight: bold;
	color: rgb(230, 230, 230);
}
div[theme='bright'] .description-piece span {
	color: rgb(65, 65, 65);
}

.ticket-description-direct{
	display: flex;
	width: 35%;
	padding-right: 12px;
}
.ticket-description-direct h2{
	text-align: center;
	font-size: 1.1em;

}
.ticket-description-direct p, .ticket-description-direct h2{
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 16px;
	letter-spacing: 0.3px;
	line-height: 135%;
	font-size: 14px;
	color: white;
}
.ticket-description-direct h2 {
	color: rgb(240, 240, 240);
}
div[theme='bright'] .ticket-description-direct p, div[theme='bright'] .ticket-description-direct h2 {
	color: rgb(30, 30, 30);
}

/*FIRST BLOCK ITSELF*/

@media(max-height: 820px){
	.first-block-main-info{
		font-size: 0.85em !important;
	}
	#main-content-first-block-container{
		padding-bottom: 0.25em;
	}
	#first-block-title-container{
		padding-top: 1em;
	}
	#second-block-container{
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	#log-history-title-container, #place-message-title-container{
		padding-top: 1em;
		padding-bottom: 1em;
	}
}

@media(max-width: 1580px){
	#main-content-first-block-container{
		padding-bottom: 0.9em;
	}
	.ticket-description-direct p, .description-piece, .name-and-person-info p{
		font-size: 0.9em;
	}
	.ticket-description-direct h2{
		font-size: 1.05em;
	}
}

@media(max-width: 1440px){
	#main-content-first-block-container{
		padding-left: 1em;
	}
	.first-block-main-info{
		font-size: 0.9em;
	}
	#photo-and-personal-identification-container{
		padding-right: 1.75em;
	}
	#ticket-descriptions-container{
		padding-right: 1em;
	}
}

@media(max-width: 1200px){
	.first-block-main-info{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.ticket-description-direct{
		width: 50%;
		padding-top: 2.5em;
	}
	.description-piece{
		padding-bottom: 8px;
	}
	.ticket-description-direct h2{
		padding-bottom: 10px;
	}
	#ticket-descriptions-container{
		padding-top: 2.5em;
	}
}

@media(max-width: 818px){
	#photo-and-personal-identification-container{
		padding-right: 1em;
	}
	.ticket-description-direct{
		width: 75%;
	}
	.ticket-descriptions-container{
		padding-right: 0px;
	}
}
@media(max-width: 700px){
	#first-block-title-container{
		flex-direction: column;
	}
	#first-block-intitle-ticket-management-options{
		padding-top: 1em;
	}
}
@media(max-width: 600px){
	#photo-and-personal-identification-container img{
		padding-right: 25px;
	}
}

@media(max-width: 450px){
	.first-block-title-container-aux{
		max-width: 80%;
		align-items: center;
	}
	#first-block-intitle-ticket-management-options{
		padding-top: 2.5em;
		padding-bottom: 1.5em;
	}
	#photo-and-personal-identification-container img{
		display: none;
	}
	.name-and-person-info p{
		text-align: center;
		padding-bottom: 6px; 
	}
	.ticket-description-direct{
		padding-right: 0px;
		width: 90%;
	}
	#ticket-descriptions-container{
		padding-right: 0px;
	}
	.first-block-title-container-aux p{
		font-size: 1.15em;
	}
}