.ticket-band-container {
	margin: 15px 0px 10px 22px;
	background-color: rgb(30, 30, 30);
    width: calc(100vw - 318px - 56px);
    cursor: pointer;
	-webkit-transition-duration: 0.35s;
	     -o-transition-duration: 0.35s;
	        transition-duration: 0.35s;
	border: 1px solid rgb(90, 90, 90);
	font-family: 'Quicksand', sans-serif;
	height: 193px;
	visibility: hidden;
	opacity: 0;
}
div[theme='bright'] .ticket-band-container {
	background-color: white;
	border: none;
}
.ticket-band-container:hover{
	-webkit-box-shadow: 0 1px 30px 4px rgba(220,220,220,0.42);
	        box-shadow: 0 1px 30px 4px rgba(220,220,220,0.42);
}
div[theme='bright'] .ticket-band-container:hover {
	-webkit-box-shadow: 0 1px 30px 4px rgba(80,80,80,0.42);
	        box-shadow: 0 1px 30px 4px rgba(80,80,80,0.42);
}

.TB-header{
	padding: 16px 0px 0px 20px;
}

.TB-title-container {
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
div[theme='bright'] .TB-title-container {
	color: rgb(30, 30, 30);
}

.TB-title-container p{
	font-size: 19px;
}

.TB-title-container img{
	width: 19px;
	height: 19px;
	padding-right: 20px;
}

.TB-intitle-management-options-direct-container{
	padding-right: 2em;
}

.TB-intitle-management-options-direct-container span{
	padding: 0px 4px 0px 4px;
	font-size: 0.9em;
	cursor: pointer;
}
.TB-intitle-management-options-direct-container span:hover{
	text-decoration: underline;
}

.TB-intitle-legitimacy-error-direct-container {
	padding: 6px 0px 0px 3px;
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.3s;
}

.TB-intitle-legitimacy-error-direct-container span {
	font-size: 12px;
	color: rgb(199, 47, 53);
}

.TB-content-block-container{
	padding: 0.8em 0px 16px 20px;
	font-size: 0.95em;
}

.TB-header, .TB-content-block-container, .TB-name-and-person-info-direct-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#TB-ticket-delete {
	color: rgb(199, 47, 53);
}

#TB-ticket-conclude {
	color: rgb(49, 182, 53);
}

#TB-ticket-block {
	color: rgb(204,204,0);
}

#TB-ticket-homologate {
	color: rgb(45, 176, 175);
}

.TB-photo-and-personal-identification-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-right: 18px;
	max-width: 35%;
}

.TB-photo-and-personal-identification-container img{
	width: 110px;
	height: 110px;
	border-radius: 100%;
}

.TB-ticket-id, .TB-assigneds-names, .TB-groups-names{
	padding-top: 3px;
}

.TB-name-and-person-info-direct-container{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 110px;
	font-size: 13.5px;
	padding-left: 35px;
}

.TB-name-and-person-info-direct-container p {
	letter-spacing: 0.3px;
	color: rgb(210, 210, 210);
}
div[theme='bright'] .TB-name-and-person-info-direct-container p {
	color: rgb(90, 90, 90);
}

.TB-name-and-person-info-direct-container p span {
	color: rgb(230, 230, 230) !important;
	font-weight: bold;
	line-height: 19px;
}
div[theme='bright'] .TB-name-and-person-info-direct-container p span {
	color: rgb(65, 65, 65) !important;
}

.TB-statuses-and-dates-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-right: 3em;
	font-size: 13.5px;
}

.TB-status-or-date {
	letter-spacing: 0.3px;
	padding-bottom: 8px;
	color: rgb(210, 210, 210);
}
div[theme='bright'] .TB-status-or-date {
	color: rgb(90, 90, 90);
}

.TB-status-or-date span{
	font-weight: bold;
	color: rgb(230, 230, 230);
}
div[theme='bright'] .TB-status-or-date span {
	color: rgb(65, 65, 65);
}

.TB-description-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 35%;
	padding-right: 12px;
}

.TB-description-container h2{
	text-align: center;
	font-size: 1.1em;

}
.TB-description-container p, .TB-description-container h2{
	padding-bottom: 16px;
	letter-spacing: 0.3px;
	line-height: 135%;
	font-size: 13.5px;
	color: white;
}
.TB-description-container h2 {
	color: rgb(240, 240, 240);
}
div[theme='bright'] .TB-description-container p, div[theme='bright'] .TB-description-container h2 {
	color: rgb(30, 30, 30);
}

.TB-description-container[screen-type='mob'] {
	display: none;
}

@media(max-width: 1550px){
	.ticket-band-container {
		width: calc(100vw - 288px - 48px);
		margin: 12px 0px 9px 18px;
		height: 180px;
	}

	.TB-title-container p {
		font-size: 16px;
	}

	.TB-header {
		padding: 14px 0px 0px 14px;
	}

	.TB-name-and-person-info-direct-container, .TB-description-container p, .TB-description-container h2,
	.TB-intitle-management-options-direct-container span,
	.TB-statuses-and-dates-container {
		font-size: 12.3px !important;
	}

	.TB-photo-and-personal-identification-container img {
		width: 92px;
		height: 92px;
	}

	.TB-content-block-container {
		padding: 0.45em 0px 8px 20px;
	}

	.TB-name-and-person-info-direct-container {
		height: 105px;
		padding-left: 25px;
	}
}

@media(max-width: 1350px){
	.ticket-band-container {
		height: 300px;
	}

	.TB-description-container {
		display: none;
	}

	.TB-photo-and-personal-identification-container {
		max-width: 60%;
	}

	.TB-description-container[screen-type='mob'] {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: auto;
		padding: 10px 20px 0px 20px;
	}
}

@media(max-width: 1000px){
	.ticket-band-container {
		width: calc(100vw - 46px);
	}
}

@media(max-width: 950px){
	.ticket-band-container {
		height: auto;
	}

	.TB-header {
		display: block;
	}

	.TB-intitle-management-options-direct-container {
		padding-top: 12px;
	}

	#TB-ticket-delete {
		padding-left: 0px;
	}
}

@media(max-width: 750px){
	.ticket-band-container {
		width: calc(100vw - 36px);
		margin-left: 12px;
	}

	.TB-content-block-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.TB-photo-and-personal-identification-container {
		max-width: 100%;
		padding-bottom: 30px;
	}

	.TB-statuses-and-dates-container {
		width: 90%;
		padding: 20px 15px 15px 15px;
	}

	.TB-statuses-and-dates-direct-container {
		width: 90%;
	}

	.TB-photo-and-personal-identification-container {
		padding-top: 20px;
	}

	.TB-status-or-date {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

@media(max-width: 720px){
	#ticket-listing-container {
		margin-top: 45px;
	}

	.TB-title-container p {
		line-height: 21px;
	}
}

@media(max-width: 460px){
	.ticket-band-container {
		width: calc(100vw - 25px);
	}
}