#ticket-management-button-modal-container{
	position: fixed;
	z-index: 1001;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top: -100px;
	box-shadow: 0px 0px 5px 0px black;
	border-radius: 6px;
	background-color: rgb(60, 60, 60);
	visibility: hidden;
	height: 0px;
	transition-duration: 0.55s;
}
div[theme='bright'] #ticket-management-button-modal-container {
	background-color: rgb(245, 245, 245);
}

#ticket-management-button-modal-container[status*="closed"] * {
	visibility: hidden;
	height: 0px;
	transition-duration: 0s;
}

#ticket-management-button-modal-container[status*="open"] * {
	transition-duration: 0s;
}

#ticket-management-button-modal-container[status*="open"] {
	visibility: visible !important;
	height: 200px;
	transition-duration: 0.55s;
}

#ticket-management-modal-first-block{
	padding-left: 2em;
	padding-right: 1em;
	height: 65%;
	background-color: white;
	background-color: rgb(30, 30, 30);
}
div[theme='bright'] #ticket-management-modal-first-block{
	background-color: white;
}

#ticket-management-modal-title-and-close-button-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1.5em;
}
#ticket-management-modal-title-and-close-button-container h2{
	margin-top: 1.5em;
}

#ticket-management-modal-title-and-close-button-container img{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#ticket-management-modal-first-block *{
	line-height: 20px;
}
#ticket-management-modal-first-block h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.05em;
	color: rgb(190, 190, 190);
}
div[theme='bright'] #ticket-management-modal-first-block h2 {
	color: rgb(110, 110, 110);
}

#ticket-management-modal-first-block p{
	font-family: 'Quicksand', sans-serif;
	font-size: 0.95em;
	color: rgb(210, 210, 210);
}
div[theme='bright'] #ticket-management-modal-first-block p {
	color: rgb(115, 115, 115);
}

#ticket-management-modal-second-block{
	height: calc(45% - 1.5em);
	display: flex;
	justify-content: flex-end;
	padding-right: 1em;
	align-items: center;
}

#ticket-management-modal-buttons-container button{
	color: white;
	border: none;
	font-family: 'Quicksand', sans-serif;
	border-radius: 30px;
	height: 36px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	cursor: pointer;
	margin-right: 4px;
	margin-left: 4px;
}
#ticket-management-modal-button-cancel{
	background-color: rgb(160, 160, 160);
}
#ticket-management-modal-button-proceed{
	background-color: grey
}

/* COLORS OF TEXTS AND BUTTONS THAT VARIES DEPENDING THE ACTION BELOW */

#ticket-management-button-modal-container[which-action='delete'] #ticket-management-modal-button-proceed {
	background-color: rgb(199, 47, 53) !important;
}
#ticket-management-button-modal-container[which-action='delete'] .tam-action-text {
	color: rgb(199, 47, 53) !important;
}

#ticket-management-button-modal-container[which-action='conclude'] #ticket-management-modal-button-proceed {
	background-color: rgb(49, 182, 53) !important;
}
#ticket-management-button-modal-container[which-action='conclude'] .tam-action-text {
	color: rgb(49, 182, 53) !important;
}

#ticket-management-button-modal-container[which-action='block'] #ticket-management-modal-button-proceed{
	background-color: rgb(204,204,0) !important;
}
#ticket-management-button-modal-container[which-action='block'] .tam-action-text {
	color: rgb(204,204,0) !important;
}

#ticket-management-button-modal-container[which-action='homologate'] #ticket-management-modal-button-proceed{
	background-color: rgb(45, 176, 175) !important;
}
#ticket-management-button-modal-container[which-action='homologate'] .tam-action-text {
	color: rgb(45, 176, 175) !important;
}

@media(max-width: 550px){
	#ticket-management-button-modal-container{
		width: 320px;
		margin-left: -160px;
	}
	#ticket-management-modal-title-and-close-button-container{
		padding-bottom: 0.5em;
	}
	#ticket-management-modal-first-block{
		line-height: 20px;
	}
}